# build
version
/info.json
skin/iptvdream.xml
*.mo
build/
packages/
*.pot
src/keymap.xml
# python
*.py[cod]
.venv/
__pycache__/
# backup files
*~
# linux stuff
.directory
# temprorary ci file
*.yml.tmp
tests/secret.json
# Twisted tests
_trial_temp*

# JetBrains IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/dbnavigator.xml
.idea/codeStyles
