[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
typing = "*"
pylint = "*"
pipenv = "*"
ptvsd = "*"
rope = "*"
autopep8 = "*"
pydocstyle = "*"
flake8 = "*"
xmldiff = "*"
pytest = "*"
pytest-cov = "*"

[packages]
twisted = "*"
pywin32 = "*"
requests = "*"

[requires]
python_version = "2.7"
